*{
    margin: 0;
    padding: 0;

}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(161, 224, 235, 0.384); /* półprzezroczyste tło */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.wstep-tlo {
    height: 100vh; /* pełna wysokość ekranu */
    background-image: url('img/tlo3.jpg'); /* ścieżka do zdjęcia */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.wstep-tlo::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(31, 31, 31, 0.5); /* ciemne przyciemnienie */
    z-index: 1;
}
.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro div{
    background-color: rgba(235, 243, 243, 0.842);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex; /*Układanie elementów obok siebie*/
    justify-content: center; /*Rozmieszczenie elementów w poziomie*/
}
.intro-one{
    width: 500px;
}
.intro-two{
    width: 500px;
}
.flow{
    display: flex;
    height: 200px;
    flex-wrap: nowrap; /*Czy zawijać elementy*/
    justify-content: space-between;
}
.flow div{
    padding: 20px;
    border: solid;
    width: 25%;
    font-size: 30px;;
}
p{
    font-size: 20px;
    text-align: center;
}
a{
    text-decoration: none;
    color:black;
}
.a2{
    padding: 15px;
    background-color: rgba(223, 240, 240, 0.315);
    width: 110px;
    margin: 10px;
            
    font-size: 25px;
    text-align: center;
    line-height: 5px;
}
a:hover{
    color:rgb(240, 5, 5);
    background-color: aliceblue;
}
.lokalizacja{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-wrap: nowrap;
    padding: 10px;
    box-sizing: border-box;
    border-style: solid;
    height: 50%;
    width: 100%;
    margin-top: 10px;
}
.lok2{
    justify-content: flex-start; 
}
.lok3{
    padding: 10px;
    justify-content: center;
}

.blok-galerii {
    margin-top: 10px;
    width: 100%;
    overflow: hidden; /*Zdjęcia poza blokiem nie widoczne*/
    border: 2px solid #ccc;
    border-radius: 12px;
    background: #fff;
    padding: 10px;

}

.galeria-scroll {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.galeria-scroll img {
    height: 180px;
    flex-shrink: 0;
    border-radius: 10px;
    scroll-snap-align: start;
    transition: transform 0.3s;
}

.galeria-scroll img:hover {
    transform: scale(1.05);
}

.o_nas{
    border: solid;
    width: 60%;
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
}

.o_nas_tekst{
    text-align: center;
}

.o_nas_img img{
    width: 50vh;
    height: 50vh;
}